<!DOCTYPE html>
<html lang="en">

<head> <% include ./partials/head.ejs %> </head>

<body>
    <% include ./partials/header.ejs %>

    <aside class="chopsticks">
        <div>
            <h2 class="gold-text">Turn your favorite code snippets into recipe cards.</h2>
        </div>
    </aside>

    <main>
        <div class="preview">
            <h3>Check out this recipe card for <span class="orange-text"><%=recipes[0].title%></span>.</h3>

            <div class="recipe-card" style="background: url('<%=recipes[0].image%>') no-repeat;
                background-size: cover;
                background-position-x: 50%;
                background-position-y: 30%;">

                <div class="card-cover">
                    <div class="cover-info">
                        <h4 class="gold-text"><%=recipes[0].title%></h4>
                        <p><%=recipes[0].description%></p>
                        <div class="options cards">
                            <a href="/<%=recipes[0].id%>" class="h6 gold">View recipe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="registration">
            <div class="h1-link">
                <a href="/sessions/new" class="h1 green-text">Log in</a>
                <p class="grey-text">if you already <br />have an account.</p>
            </div>

            <div class="h1-link">
                <a href="/users/new" class="h1 green-text">Sign up</a>
                <p class="grey-text">if you want an account. You do.</p>
            </div>
        </div>
    </main>

    <% include ./partials/footer.ejs %>
</body>
<html>