<!DOCTYPE html>
<html lang="en">

<head> <% include ./partials/head.ejs %> </head>

<body>
    <% include ./partials/header.ejs %>

    <aside id="hero">
        <div class="dimmer">

            <% if (!currentUser) { %>
            <h2>Turn your favorite code snippets into recipe cards.</h2>

            <% } else { %>
            <h2>Welcome, Chef @<%= currentUser.username %>!</h2>
            <% include ./partials/logout.ejs %>
            <% } %>

        </div>
    </aside>

    <main>
        <% if (!currentUser) { %>
        <div class="preview">
            <h3>Check out this example of a '<%=recipes[0].title%>' recipe card.</h3>

            <div class="recipe-carousel">

                <div class="card-box">
                    <% for (let i = 0; i < recipes.length; i++) { %>
                    <div class="card">
                        <style>
                            .card {
                                background: url('<%=recipes[0].image%>') no-repeat;
                                background-size: cover;
                                background-position-x: 50%;
                                background-position-y: 30%;
                            }
                        </style>
                        <div class="card-cover">
                            <div class="cover-info">
                                <h4><%=recipes[0].title%></h4>
                                <p><%=recipes[0].description%></p>
                                <h6><a href="/<%=recipes[0].id%>">View recipe</a></h6>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>

            </div>
        </div>
        <% } %>

        <% if (!currentUser) { %>
        <div class="registration">

            
            <div class="link-info">
                <a href="/sessions/new">
                    <h1>Log in</h1>
                </a>
                <p>if you already <br />have an account.</p>
            </div>

            <div class="link-info">
                <a href="/users/new">
                    <h1>Sign up</h1>
                </a>
                <p>if you want an account. You do.</p>
            </div>

            <% } else { %>
                <h3>Let's get cooking, shall we?</h3>

            <div class="row-flex distancer">
                <div class="link-info">
                    <a href="/app">
                        <h1>Go to recipes</h1>
                    </a>
                </div>

                <div class="link-info">
                    <a href="/app/add-recipe">
                        <h1>Add a new recipe.</h1>
                    </a>
                </div>
            </div>

            <% } %>
        </div>

    </main>

    <% include ./partials/footer.ejs %>
</body>
<html>