<!DOCTYPE html>
<html lang="en">

<head> <% include ./partials/head.ejs %> </head>

<body>
    <% include ./partials/header.ejs %>

    <aside class="chopsticks">
        <div>
            <% if (!currentUser) { %>
                <h2>Turn your favorite code snippets into recipe cards.</h2>
    
                <% } else { %>
                <h2>Welcome, Chef @<span class="white-text"><%= currentUser.username %></span>!</h2>
                <% } %>
        </div>
    </aside>

    <main>
        <% if (!currentUser) { %>
        <div class="preview">
            <h3>Check out this example of a '<%=recipes[0].title%>' recipe card.</h3>

            <div class="recipe-carousel">

                <div class="card-box">
                    <div class="card">
                        <style>
                            .card {
                                background: url('<%=recipes[0].image%>') no-repeat;
                                background-size: cover;
                                background-position-x: 50%;
                                background-position-y: 30%;
                            }
                        </style>
                        <div class="card-cover">
                            <div class="cover-info">
                                <h4><%=recipes[0].title%></h4>
                                <p><%=recipes[0].description%></p>
                                <div class="options opt-card">
                                <a href="/<%=recipes[0].id%>" class="minor gold-link">View recipe</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <% } %>

        <% if (!currentUser) { %>
        <div class="registration">

            
            <div class="link-info">
                <a href="/sessions/new">
                    <h1>Log in</h1>
                </a>
                <p>if you already <br />have an account.</p>
            </div>

            <div class="link-info">
                <a href="/users/new">
                    <h1>Sign up</h1>
                </a>
                <p>if you want an account. You do.</p>
            </div>

            <% } else { %>
                <h3>Main menu</h3>

                <div id="menu-links">
                    <a href="/app" class="menu-link">View all recipes.</a>
                    <a href="/app/add-recipe" class="menu-link">New recipe.</a>

                    <form action="/sessions/app?_method=DELETE" method="POST">
                        <button type="submit" name="log-out" class="btn-flush"><h6 class="faded-link">Log out</h6></button>
                  </form>
                </div>

            <% } %>
        </div>

    </main>

    <% include ./partials/footer.ejs %>
</body>
<html>