<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/header.ejs %>

    <aside>
        <style>
            aside {
                background: url('<%=recipe.image%>') no-repeat;
                background-size: cover;
                background-position-x: 50%;
                background-position-y: 30%;
            }
        </style>
        <div>
            <h2 class="gold-text">Maybe it needs more salt?</h2>
        </div>
    </aside>

    <main>
        <div class="main-content">
            <h2>Editing <span class="orange-text"><%=recipe.title%></span>.</h2>

            <form action="/<%=recipe.id%>?_method=PUT" method="POST" id="recipe-form" class="entries">
                <input type="hidden" name="user" value="<%= recipe.user %>" />

                <div class="input-bundle">
                    <h6>Title</h6>
                    <input type="text" name="title" value="<%=recipe.title%>" required />
                </div>

                <div class="input-bundle">
                    <h6>About</h6>
                    <input type="text" name="description" value="<%=recipe.description%>" required />
                </div>

                <div class="input-bundle">
                    <h6>Image</h6>
                    <input type="text" name="image" value="<%=recipe.image%>" required />
                </div> 

                <div class="input-bundle">
                    <h6>Recipe</h6>
                    <textarea form="recipe-form" name="recipe" value="<%=recipe.recipe%>" rows=20
                        placeholder="This is where your snippet goes."
                        required></textarea>
                </div>

                <div class="options forms">
                    <button type="submit" id="recipe-form" class="btn-standard green-fill">Edit Recipe</button>
                    <a href="/<%=recipe.id%>" class="h6 danger">Never mind.</a>
                </div>
            </form>
        </div>
    </main>

    <% include ../partials/footer.ejs %>

</body>

</html>