<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/header.ejs %>

    <main>
        <div class="box-left">
            <h3 class="tx-gold">Think it needs something, hm?</h3>

            <form action="/<%=recipe.id%>?_method=PUT" method="POST" id="recipe-form">
                <div class="side-by">
                    <input type="text" name="title" value="<%=recipe.title%>" placeholder="Recipe title" />
                    <input type="url" name="image" value="<%=recipe.image%>" placeholder="Image link" />
                </div>

                <input type="text" name="description" value="<%=recipe.description%>" placeholder="Brief description" />
                <textarea form="recipe-form" name="recipe" value="<%=recipe.recipe%>" rows=20
                    placeholder="This isn't your grandmother's recipe... unless she was a coder. Then maybe it was."
                    required></textarea>

                <div class="row-flex">
                    <button type="submit" class="series-one bg-green">Edit Recipe</button>
                    <h6><a href="/<%=recipe.id%>" class="hint">Cancel edit</a></h6>
                </div>
            </form>
            
        </div>

        <div class="box-right">
            <div class="img-dim"></div>
            <img src="../images/ramen-square.jpg" class="img-circle" />

            <% include ../partials/logout.ejs %>
        </div>
    </main>

    <footer><% include ../partials/footer.ejs %></footer>

</body>
</html>