<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/header.ejs %>

    <aside id="hero-show-recipe">
        <style>
            #hero-show-recipe {
                background: url('<%=recipe.image%>') no-repeat;
                background-size: cover;
                background-position-x: 50%;
                background-position-y: 30%;
            }
        </style>
        <div class="dimmer">

            <h2>Think it needs something, hm?</h2>

        </div>
    </aside>

    <main>
        <div class="box-left">

            <form action="/<%=recipe.id%>?_method=PUT" method="POST" id="recipe-form">
                <div class="side-by">
                    <input type="text" name="title" value="<%=recipe.title%>" placeholder="Recipe title" />
                    <input type="url" name="image" value="<%=recipe.image%>" placeholder="Image link" />
                </div>

                <input type="text" name="description" value="<%=recipe.description%>" placeholder="Brief description" />
                <textarea form="recipe-form" name="recipe" value="<%=recipe.recipe%>" rows=20
                    placeholder="This isn't your grandmother's recipe... unless she was a coder. Then maybe it was."
                    required></textarea>

                <div class="row-flex">
                    <button type="submit" class="series-one bg-green">Edit Recipe</button>
                    <a href="/<%=recipe.id%>" class="minor faded-link">Cancel edit</a>
                </div>
            </form>
            
        </div>

        <div class="box-right">
            <div class="img-dim"></div>
            <img src="../images/ramen-square.jpg" class="img-circle" />

            <% include ../partials/logout.ejs %>
        </div>
    </main>

    <footer><% include ../partials/footer.ejs %></footer>

</body>
</html>