<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    
    <body>

      <header>
            <h5><a href="/app">
                <span id="header-primary">ラーメン</span>
                <span id="header-secondary">instantRahmen</span>
            </a></h5>
        </header>

      <div class="main-xl">
        <form action="/<%=recipe.id%>?_method=PUT" method="POST">
            <input type="text" name="title" value="<%=recipe.title%>" placeholder="title" /><br/>
            <input type="text" name="description" value="<%=recipe.description%>" placeholder="description" /><br/>
            <input type="url" name="image" value="<%=recipe.image%>" placeholder="image link" /><br/>
            <input type="text" name="line_1" value="<%=recipe.line_1%>" placeholder="line 1" /><br/>
            <input type="text" name="line_2" value="<%=recipe.line_2%>" placeholder="line 2" /><br/>
            <input type="text" name="line_3" value="<%=recipe.line_3%>" placeholder="line 3" /><br/>
            <input type="text" name="line_4" value="<%=recipe.line_4%>" placeholder="line 4" /><br/>
            <input type="text" name="line_5" value="<%=recipe.line_5%>" placeholder="line 5" /><br/>
            <input type="text" name="line_6" value="<%=recipe.line_6%>" placeholder="line 6" /><br/>
                <input type="submit" class="button-first" value="Edit Recipe" />
        </form>

        <form action="/<%=recipe.id%>">
            <input type="submit" class="button-second-short" value="Cancel Edit" />
        </form>
    <div>

</body>
</html>