<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <!-- HEADER : JAPANESE & SITE TITLE -->
    <header>
        <% include ../partials/header.ejs %>
    </header>

    <div class="flex-container">
    <aside>
        <h3>You can find your recipes here. Hungry for more?</h3>
        <a href="/app">
            <button type="button" name="add-recipe" class="text-button secondary">Add recipe</button></a>
    </aside>

    <main>
        <% for (let i = 0; i < recipes.length; i++) { %>
            <div class="recipe-card">
                <style>
                    .recipe-card {
                    background: url('<%=recipes[i].image%>') no-repeat;
                    background-size: cover;
                    background-position-x: 50%;
                    background-position-y: 30%;
                    }
                </style>
                <div id="info-cover">
                    <h4><%=recipes[i].title%></h4>
                    <p><%=recipes[i].description%></p>
                
                    <div class="tool-buttons">
                    <a href="/<%=recipes[i].id%>"><button type="button" name="view-recipe" class="icon-button">
                            <img src="../images/buttons/view.png" />
                        </button></a>

                    <form action="/<%=recipes[i].id%>?_method=DELETE" method="POST">
                        <button type="submit" name="delete-recipe" class="icon-button">
                            <img src="../images/buttons/delete.png" />
                        </button>
                    </form>
                </div>
                </div>
            </div>
        <% } %>

            <form action="/sessions/app?_method=DELETE" method="POST">
                <button type="button" name="log-out" class="text-button tertiary">Log out</button>
            </form>

    </main>

    <footer><% include ../partials/footer.ejs %></footer>
</body>