<!DOCTYPE html>
<html lang="en">

<head> <% include ../partials/head.ejs %> </head>

<body>
    <header> <% include ../partials/header.ejs %> </header>

    <main>
        <div class="box-left">
            <h3 class="tx-gold">Your recipes</h3>
            <a href="/app/add-recipe">
                <h6 class="nextup">Hungry for more? Add a new recipe.</h6>
            </a>

            <div class="card-box">
                <% for (let i = 0; i < recipes.length; i++) { %>
                <div class="card">
                    <style>
                        .card {
                            background: url('<%=recipes[i].image%>') no-repeat;
                            background-size: cover;
                            background-position-x: 50%;
                            background-position-y: 30%;
                        }
                    </style>
                    <div id="cover">
                        <h4><%=recipes[i].title%></h4>
                        <p><%=recipes[i].description%></p>

                        <div class="tool-buttons">
                            <a href="/<%=recipes[i].id%>"><button type="button" name="view-recipe" class="icon-button">
                                    <img src="../images/buttons/view.png" />
                                </button></a>

                            <form action="/<%=recipes[i].id%>?_method=DELETE" method="POST">
                                <button type="submit" name="delete-recipe" class="icon-button">
                                    <img src="../images/buttons/delete.png" />
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>

        <div class="box-right">
            <div class="img-dim"></div>
            <img src="../images/ramen-square.jpg" class="img-circle" />

            <% if (currentUser) { %>
            <form action="/sessions/app?_method=DELETE" method="POST">
                <button type="button" name="log-out" class="btn-less">Log out</button>
            </form>
            <% } %>
        </div>

    </main>


    <footer> <% include ../partials/footer.ejs %> </footer>
</body>
<html>