<!DOCTYPE html>
<html lang="en">

<head> <% include ../partials/head.ejs %> </head>

<body>
    <% include ../partials/header.ejs %>

    <aside class="chopsticks">
        <div>
            <h2>Check out the specials for today.</h2>
        </div>
    </aside>

    <main>
        <!-- OPTIONS AT THE TOP OF THE PAGE -->
        <div class="page-options">
            <a href="/app/add-recipe" class="minor orange-link">Add a recipe</a>

            <form action="/sessions/app?_method=DELETE" method="POST">
                <button type="submit" name="logout" class="btn-flush"><h6 class="faded-link">Log out</h6></button>
          </form>
        </div>

        <!-- RECIPE CARDS -->
        <div class="content">
            <h2>All recipes</h2>

            <div class="rolodex">
                <% for (let i = 0; i < recipes.length; i++) { %>
                    <div class="card">
                        <style>
                            .card {
                                background: url('<%=recipes[i].image%>') no-repeat;
                                background-size: cover;
                                background-position-x: 50%;
                                background-position-y: 30%;
                            }
                        </style>
                        <div class="card-cover">
                            <div class="cover-info">
                                <h4><%=recipes[i].title%></h4>
                                <p><%=recipes[i].description%></p>
                                <h6><a href="/<%=recipes[i].id%>">View recipe</a></h6>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </main>



            <!-- <div class="card-box">
                <% for (let i = 0; i < recipes.length; i++) { %>
                <div class="card">
                    <style>
                        .card {
                            background: url('<%=recipes[i].image%>') no-repeat;
                            background-size: cover;
                            background-position-x: 50%;
                            background-position-y: 30%;
                        }
                    </style>
                    <div id="cover">
                        <h4><%=recipes[i].title%></h4>
                        <p><%=recipes[i].description%></p>


                        <div class="tool-buttons">
                            <a href="/<%=recipes[i].id%>"><button type="button" name="view-recipe" class="icon-button">
                                    <img src="../images/buttons/view.png" />
                                </button></a>

                            <% if (recipes[i].user === "me") { %>
                            <form action="/<%=recipes[i].id%>?_method=DELETE" method="POST">
                                <button type="submit" name="delete-recipe" class="icon-button">
                                    <img src="../images/buttons/delete.png" />
                                </button>
                            </form>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% } %>
            </div> -->


    <footer> <% include ../partials/footer.ejs %> </footer>
</body>
<html>