<!DOCTYPE html>
<html lang="en">

<head> <% include ../partials/head.ejs %> </head>

<body>
    <% include ../partials/header.ejs %>

    <aside class="chopsticks">
        <div>
            <h2>Check out the specials for today.</h2>
        </div>
    </aside>

    <main>
        <!-- OPTIONS AT THE TOP OF THE PAGE -->
        <div class="options opt-page">
            <a href="/" class="minor green-link">Main menu</a>
            <a href="/app/add-recipe" class="minor orange-link">New recipe</a>

            <form action="/sessions/app?_method=DELETE" method="POST">
                <button type="submit" name="logout" class="btn-flush">
                    <h6 class="faded-link">Log out</h6>
                </button>
            </form>
        </div>

        <!-- RECIPE CARDS -->
        <div class="content">
            <h2>All recipes</h2>

            <div class="rolodex">
                <% for (let i = 0; i < recipes.length; i++) { %>
                <div class="card">
                    <style>
                        .card {
                            background: url('<%=recipes[i].image%>') no-repeat;
                            background-size: cover;
                            background-position-x: 50%;
                            background-position-y: 30%;
                        }
                    </style>
                    <div class="card-cover">
                        <div class="cover-info">
                            <h4><%=recipes[i].title%></h4>
                            <p><%=recipes[i].description%></p>

                            <div class="card-options">
                                <a href="/<%=recipes[i].id%>" class="minor gold-link">View recipe</a>

                                <% if (recipes[i].user === currentUser.username) { %>
                                <a href="/<%=recipes[i].id%>/edit-recipe" class="minor orange-link">Edit</a>
                                <form action="/<%=recipes[i].id%>?_method=DELETE" method="POST">
                                    <button type="submit" name="delete-recipe" class="btn-flush">
                                        <h6 class="this red-link">Delete</h6>
                                    </button>
                                </form>
                                <% } %>

                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </main>

    <% include ../partials/footer.ejs %>
</body>
<html>