<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>

    <body>
        <header>
            <% include ../partials/header.ejs %>
        </header>

        <div class="neck">
            <h1>Ahh, the <span id="highlight"><%=recipe.title%></span>. Excellent choice.</h1>

            <a href="/<%=recipe.id%>" class="button-second">Return to cards<a><br />
            <a href="/<%=recipe.id%>/edit-recipe" class="button-first">Edit recipe<a>

            
        </div>

      <div class="main">
            <div class="recipe-card">
                <h3><%=recipe.title%></h3>
                <p><%=recipe.description%><p>

                <p>
                <% for (let i = 0; i < recipe.code.length; i++) { %>
                    <%=recipe.code[i]%><br />
                <% } %>
                </p>
                
                <div class="tools">
                    
                </div>
            </div>

            <form action="/<%=recipe.id%>?_method=DELETE" method="POST">
                <button class="button-second" type="submit" value="Delete Recipe">Delete Recipe</button>
            </form>


          <div class="main-within">
            <form action="/sessions?_method=DELETE" method="POST" class="just">
              <input type="submit" class="weak-button" name="action" value="Log out">
            </form>
          </div>
      </div>

      <footer><% include ../partials/footer.ejs %></footer>
</body>
</html>