<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <!-- HEADER [ TITLE, QUOTE]  -->
    <header>
        <% include ../partials/header.ejs %>
    </header>

    <div class="viewscreen">
    <aside>

        <h3>Ahh, the <span id="title-highlight"><%=recipe.title%></span>.<br />
        <%=recipe.description%>.</h3>
    </aside>

    <main>
        <h2><%=recipe.title%></h2>
                    <p><%=recipe.line_1%></p>
                    <p><%=recipe.line_2%></p>
                    <p><%=recipe.line_3%></p>
                    <p><%=recipe.line_4%></p>
                    <p><%=recipe.line_5%></p>
                    <p><%=recipe.line_6%></p>


                <div class="tool-buttons">
                    <a href="/<%=recipe.id%>/edit-recipe"><button type="button" name="edit-recipe" class="icon-button">
                        <img src="../images/buttons/edit.png" />
                    </button></a>

                    <form action="/<%=recipe.id%>?_method=DELETE" method="POST">
                        <button type="submit" name="delete-recipe" class="icon-button">
                            <img src="../images/buttons/delete.png" />
                        </button>
                    </form>
                </div>

                <form action="/sessions/app?_method=DELETE" method="POST">
                    <button type="button" name="log-out" class="btn-less">Log out</button>
                </form>
            
    </main>
    </div>

      <footer><% include ../partials/footer.ejs %></footer>
</body>
</html>