<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/header.ejs %>

    <aside id="hero-show-recipe">
        <style>
            #hero-show-recipe {
                background: url('<%=recipe.image%>') no-repeat;
                background-size: cover;
                background-position-x: 50%;
                background-position-y: 30%;
            }
        </style>
        <div class="dimmer">

            <h2>Ahh, the <span class="tx-gold"><%=recipe.title%></span>.<br />Excellent choice.</h2>

        </div>
    </aside>

    <main>
        <div class="page-options">
            <a href="/<%=recipe.id%>/edit-recipe" class="minor orange-link">Edit this recipe.
            </a>

            <form action="/<%=recipe.id%>?_method=DELETE" method="POST" class="space-out">
                <button type="submit" name="delete-recipe" class="btn-flush">
                    <h6 class="dangerous">Delete this recipe.</h6>
                </button>
            </form>
        </div>

        <div class="card-information">
            <h4>About this recipe:</h4>
            <p><%=recipe.description%> </p>
            <h5 class="unstack"><%=recipe.recipe%></h5>
        </div>




        <% if (currentUser) { %>
        <% include ../partials/logout.ejs %>
        <% } %>
    </main>


    <footer><% include ../partials/footer.ejs %></footer>
</body>

</html>