<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>

    <body>
        <header>
            <h5><a href="/app">
                <span id="header-primary">ラーメン</span>
                <span id="header-secondary">instantRahmen</span>
            </a></h5>
        </header>

        <div class="neck">
            <h1>Ahh, the <span id="highlight"><%=recipe.title%></span>. Excellent choice.</h1>

            <a href="/<%=recipe.id%>/edit-recipe" class="button-first">Edit recipe<a>

            
        </div>

    <div class="main-xl">
        <div id="main-start">
                <h3><%=recipe.title%></h3>
                <p><%=recipe.description%><p>
                    <p><%=recipe.line_1%></p>
                    <p><%=recipe.line_2%></p>
                    <p><%=recipe.line_3%></p>
                    <p><%=recipe.line_4%></p>
                    <p><%=recipe.line_5%></p>
                    <p><%=recipe.line_6%></p>

                <form action="/<%=recipe.id%>?_method=DELETE" method="POST">
                    <button class="button-third-short" type="submit" value="Delete Recipe">Delete Recipe</button>
                </form>

                <form action="/sessions?_method=DELETE" method="POST" class="just">
                    <input type="submit" class="button-second-short" name="action" value="Log out" />
                </form>
        </div>
    </div>

      <footer><% include ../partials/footer.ejs %></footer>
</body>
</html>