<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <!-- HEADER [ TITLE, QUOTE]  -->
    <% include ../partials/header.ejs %>

    <main>
        <div class="box-left">
            <h3>Ahh, the <span class="tx-green"><%=recipe.title%></span>.<br />Excellent choice.</h3>

            <div class="row-flex distance">
                <a href="/<%=recipe.id%>/edit-recipe"><h6 class="nextup">Edit this recipe.</h6></a>
                <form action="/<%=recipe.id%>?_method=DELETE" method="POST">
                    <button type="submit" name="delete-recipe" class="series-two"><h6 class="hint">Delete this recipe.</h6></button>
                </form>
            </div>

            <h5>About this recipe: <%=recipe.description%> </h5>
            <h5 class="unstack"><%=recipe.recipe%></h5>
        </div>

        <div class="box-right">
            <div class="img-dim"></div>
            <img src="<%=recipe.image%>" class="img-circle" />


            <% include ../partials/logout.ejs %>
        </div>
    </main>


    <footer><% include ../partials/footer.ejs %></footer>
</body>

</html>